body{
	background: #efefef;
	font-family: Helvetica;
	font-weight: 600;
	color: rgb(8,29,88);
}
h1{
	font-size: 1em;
	padding-bottom: 1em;
	padding-left: 2.5em;

}
.highlight{
	fill:  #34495E!important;
}
path{
	fill: none;
	stroke: rgb(8,29,88);
	stroke-width: 1;
}
#tooltip{
	position: absolute;
}

li{
	
    padding: .5em 1em;
    list-style-type: none;
	display: inline!important;
	 border-top-width: 15px;
    border-top-style: solid;
}
